zone "hospital.local" {
    type master;
    file "/var/cache/bind/db.hospital.local";
};

zone "soeasy.local" {
    type master;
    file "/var/cache/bind/db.soeasy.local";
};

zone "universidad.local" {
    type master;
    file "/var/cache/bind/db.universidad.local";
};

